body{
    background-color: #61892F;
}
.photok {
   background-image: url();
    background-color: rgb(68, 68, 68);
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: none;
    border-color: rgb(255, 255, 255);
    background-size: cover;
    background-attachment:scroll;
    background-repeat: repeat;
    outline-offset: -3px;
}
 @media only screen and (min-width: 200px) and (max-width: 600px) {
.photok {
   background-image: url("https://templo.ru/builder3/elements/images/uploads/gtt.uYZql.jpg");
    background-color: rgb(68, 68, 68);
    padding-top: 280px;
    padding-bottom: 280px;
    box-shadow: none;
    border-color: rgb(255, 255, 255);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: repeat;
    outline-offset: -3px;
}
}
@media only screen and (min-width: 601px){
.photok {
    background-image:url("https://templo.ru/builder3/elements/images/uploads/img_3023_st9bw.V5jiO.jpg");
    background-color: rgb(68, 68, 68);
    padding-top: 200px;
    padding-bottom: 440px;
    box-shadow: none;
    border-color: rgb(255, 255, 255);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: repeat;
    outline-offset: -3px;
}
}
.photok_2 {
   background-image: url();
    background-color: rgb(68, 68, 68);
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: none;
    border-color: rgb(255, 255, 255);
    background-size: cover;
    background-attachment:scroll;
    background-repeat: repeat;
    outline-offset: -3px;
}
 @media only screen and (min-width: 200px) and (max-width: 600px) {
.photok_2 {
   background-image: url(images/uploads/Фото_top9.jpg);
    background-color: rgb(68, 68, 68);
    padding-top: 100px;
    padding-bottom: 460px;
    box-shadow: none;
    border-color: rgb(255, 255, 255);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: repeat;
    outline-offset: -3px;
}
}
.heartbeat{
    animation-iteration-count: infinite;
} 
@media only screen and (min-width: 601px){
.photok_2 {
    background-image:url(images/uploads/PXL_20210702_095405053_3.jpg);
    background-color: rgb(68, 68, 68);
    padding-top: 200px;
    padding-bottom: 800px;
    box-shadow: none;
    border-color: rgb(255, 255, 255);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: repeat;
    outline-offset: -3px;
}
}
     